  
 <div *ngIf="!expense" class="col-md-8 col-md.offset-2"> 
  <form (ngSubmit)="onSubmit(f1)" #f1="ngForm"> 
    <div class="form-group">
      <label for ="name">Add New Expense</label>
      <input 
      type="text" 
      id="name" 
      class="form-control"
      [ngModel]="expense?.name"
      name="name"
      required>
      <label for="projectName">Choose A Project</label>
      <select [(ngModel)]="project" name="projectSelect" #projectName>
          <option  *ngFor="let project of projects" [ngValue]="project">
            {{project.name}}
          </option>
        </select>
        <br>
      <label for ="name">Add New Expense $</label>
      <input 
      type="number"
      min="0.01" step="0.01" 
      id="amount" 
      class="form-control"
      [ngModel]="expense?.amount"
      name="amount"
      required>
      <input 
      type="date"
      id="date" 
      class="form-control"
      [ngModel]="expense?.date"
      name="date"
      required>
          
      <!-- <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button> -->
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
<div *ngIf="expense" class="col-md-8 col-md.offset-2"> 
    <form (ngSubmit)="onSubmitEdit(f2)" #f2="ngForm"> 
      <div class="form-group">
        <label for ="name">Edit {{expense.name}} Expense</label>
        <input 
        type="text" 
        id="name" 
        class="form-control"
        [ngModel]="expense?.name"
        name="name"
        required>
        <br>
        <label for ="name">Add New Expense $</label>
        <input 
        type="number"
        min="0.01" step="0.01" 
        id="amount" 
        class="form-control"
        [ngModel]="expense?.amount"
        name="amount"
        required>
        <input 
        type="date"
        id="date" 
        class="form-control"
        [ngModel]="expense?.date"
        name="date"
        required>
        <button type="button" class="btn btn-danger" (click)="onClear(f2)">Cancel Edit</button>
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>