  
 <div *ngIf="!customer" class="col-md-8 col-md.offset-2"> 
  <form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
    <div class="form-group">
      <label for ="name">Add New Customer</label>
      <input 
      type="text" 
      id="name" 
      class="form-control"
      [ngModel]="customer?.name"
      name="name"
      required>
      <!-- <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button> -->
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>

<div *ngIf="customer" class="col-md-8 col-md.offset-2"> 
    <form (ngSubmit)="onSubmitEdit(f2)" #f2="ngForm"> 
      <div class="form-group">
        <label for ="name">Edit {{customer.name}} Customer</label>
        <input 
        type="text" 
        id="name" 
        class="form-control"
        [ngModel]="customer?.name"
        name="name"
        required>
        <button type="button" class="btn btn-danger" (click)="onClear(f2)">Cancel Edit</button>
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>