
        
        <article class="panel panel-default">
            <div class="panel-body">
              {{project.name}}
            </div>
            <footer class="panel-footer">
              <div class="author">
                <p>Customer ID</p>
                {{project.customerID}}
               
              </div>
              <div class="config">
                <a (click)="onEdit()">Edit</a>
                <a (click)="onDelete()">Delete</a>
              </div>
            </footer>
                  </article>